// Place all the styles related to the dashboard/welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.dashboard-item-counter {
  font-size: 90px;
  font-weight: bolder;
  padding: 15%;
}
