<nav>
  <div class="container">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">Users</a>
        <a href="#!" class="breadcrumb">Profile</a>
        <a href="#!" class="breadcrumb"><%= current_user.full_name %></a>
      </div>
    </div>
  </div>
</nav>
<br />
<div class="container">
  <div class="row center">
    <p id="notice"><%= notice %></p>
    <a href="<%= url_for(controller: 'properties', action: 'index') %>" class="btn btn-floating btn-large pink pulse"><i class="material-icons">menu</i></a>
    <a href="<%= url_for(controller: 'users', action: 'edit', id: @user) %>" class="btn btn-floating btn-large pink pulse"><i class="material-icons">edit</i></a>
  </div>
</div>
