<div class="container">
<div class="row center">
  <div class="col s12 m4">
    <div class="card pink darken-1">
      <div class="card-content white-text">
        <span class="card-title">Manage Properties</span>
        <p>Add your apartments to continue processing.
          Once you setup your properties you can add renters and setup contracts</p>
      </div>
      <div class="card-action center">
        <a href="<%= url_for(controller: 'dashboard/properties', action: :index) %>">Property/Apartment List</a><br />
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card pink darken-1">
      <div class="card-content white-text">
        <span class="card-title">Manage Clients</span>
        <p>Add your client information in order start rental contract.
          Once you setup your clients you can build the rent and start collecting payments</p>
      </div>
      <div class="card-action center">
        <a href="<%= url_for(controller: 'dashboard/property/clients', action: :index) %>">Renter List</a><br />
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card pink darken-1">
      <div class="card-content white-text">
        <span class="card-title">Manage Rents</span>
        <p>Attach your clients to your apartment flat/unit.
          Once you setup your clients you can build the rent contract</p>
      </div>
      <div class="card-action center">
        <a href="#">Rent List</a><br />
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card pink darken-1">
      <div class="card-content white-text">
        <span class="card-title">Manage Payments</span>
        <p>Once you are done with setting up contract (Manage Rent).
          You can start collecting payments monthly or anytime</p>
      </div>
      <div class="card-action center">
        <a href="#">Payments</a><br />
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card pink darken-1">
      <div class="card-content white-text">
        <span class="card-title">Report</span>
        <p>Once you start posting rent payments. We will keep building
          a searchable reports for you to review.</p>
      </div>
      <div class="card-action center">
        <a href="#">All Reports</a><br />
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card pink darken-1">
      <div class="card-content white-text">
        <span class="card-title">Invoicing</span>
        <p>Once you start the contract in between your renters and apartment unit,
          system will generating an printable invoice.</p>
      </div>
      <div class="card-action center">
        <a href="#">Manage Invoice</a><br />
      </div>
    </div>
  </div>
</div>
</div>