<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <h1 class="center">
        <i class="material-icons">flash_on</i>
      </h1>
      <h3 class="center">Easy Property Setup</h3>
      <p class="center">It is easy to setup your properties. It takes 30 seconds to prepare your property. </p>
    </div>
    <div class="col s12 m4">
      <h1 class="center">
        <i class="material-icons">group</i>
      </h1>
      <h3 class="center">Manage Renters</h3>
      <p class="center">Just add your renters. Start collecting fees and update collection.</p>
    </div>
    <div class="col s12 m4">
      <h1 class="center">
        <i class="material-icons">settings</i>
      </h1>
      <h3 class="center">Manage collection</h3>
      <p class="center">Review your monthly, quaterly, half-yearly and yearly income from rentals.</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <h1 class="center">
        <i class="material-icons">alarm_on</i>
      </h1>
      <h3 class="center">Manage Notification</h3>
      <p class="center">You can setup alert for collection date. Alert can take jobs, like sending invoice, sms etc</p>
    </div>
    <div class="col s12 m4">
      <h1 class="center">
        <i class="material-icons">play_for_work</i>
      </h1>
      <h3 class="center">Download Reports</h3>
      <p class="center">Just add your renters. Start collecting fees and update collection.</p>
    </div>
    <div class="col s12 m4">
      <h1 class="center">
        <i class="material-icons">label_outline</i>
      </h1>
      <h3 class="center">Manage Invoice</h3>
      <p class="center">Manage your invoice for your rental collection!</p>
    </div>
  </div>
</div>