<div class="parallax-container">
  <div class="section">
    <div class="container">
      <br/>
      <br/>
      <h4 class="header center white-text">Beedhu</h4>
      <div class="row center">
        <h3 class="white-text">Manage your renters like a Pro! Automate your billing, maintain collection history</h3>
      </div>
      <div class="row center">
        <% if current_user %>
          <a href="<%= url_for(controller: '/dashboard/welcome', action: 'dashboard') %>" class="btn btn-large pink">Dashboard</a>
        <% else %>
          <a href="<%= url_for(controller: 'devise/registrations', action: 'new') %>" class="btn btn-large pink">Sign Up</a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="<%= asset_path('tianjin.jpg') %>"></div>
</div>
<div class="container ">
  <div class="row">
    <div class="col s12 m4">
      <h1 class="center icon-block pink-text">
        <i class="material-icons">flash_on</i>
      </h1>
      <h3 class="center pink-text text-darken-4">Easy Property Setup</h3>
      <p class="center pink-text text-darken-4">It is easy to setup your properties. It takes 30 seconds to prepare your property. </p>
    </div>
    <div class="col s12 m4">
      <h1 class="center icon-block pink-text">
        <i class="material-icons">group</i>
      </h1>
      <h3 class="center pink-text text-darken-4">Manage Renters</h3>
      <p class="center pink-text text-darken-4">Just add your renters. Start collecting fees and update collection.</p>
    </div>
    <div class="col s12 m4">
      <h1 class="center icon-block pink-text">
        <i class="material-icons">settings</i>
      </h1>
      <h3 class="center pink-text text-darken-4">Manage collection</h3>
      <p class="center pink-text text-darken-4">Review your monthly, quaterly, half-yearly and yearly income from rentals.</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <h1 class="center icon-block pink-text">
        <i class="material-icons">alarm_on</i>
      </h1>
      <h3 class="center pink-text text-darken-4">Manage Notification</h3>
      <p class="center pink-text text-darken-4">You can setup alert for collection date. Alert can take jobs, like sending invoice, sms etc</p>
    </div>
    <div class="col s12 m4">
      <h1 class="center icon-block pink-text">
        <i class="material-icons">play_for_work</i>
      </h1>
      <h3 class="center pink-text text-darken-4">Download Reports</h3>
      <p class="center pink-text text-darken-4">Just add your renters. Start collecting fees and update collection.</p>
    </div>
    <div class="col s12 m4">
      <h1 class="center icon-block pink-text">
        <i class="material-icons">label_outline</i>
      </h1>
      <h3 class="center pink-text text-darken-4">Manage & Send Invoice</h3>
      <p class="center pink-text text-darken-4">Manage your invoice for your rental collection!</p>
    </div>
  </div>
</div>