<h1>Editing Dashboard Property Client</h1>

<%= render 'form', dashboard_property_client: @property_client %>

<%= link_to 'Show', @property_client %> |
<%= link_to 'Back', dashboard_property_clients_path %>
