<div class="container">

  <h1>Editing Client</h1>

  <%= render 'form', property_client: @client %>

  <br />

  <%= link_to 'Show', url_for(controller: 'dashboard/property/clients', action: :show, id: @client), class: 'btn pink' %>

  <%= link_to 'Back', dashboard_property_clients_path, class: 'btn pink' %>
</div>>
