<div class="container">
  <h1>Add New Renters</h1>

  <%= render 'form', property_client: @property_client %>

  <br />
  <%= link_to 'Back', dashboard_property_clients_path, class: 'btn pink' %>
</div>
