<div class="container">
  <br />
  <%= link_to 'Edit', url_for(controller: 'dashboard/property/clients', action: :edit, id: @property_client), class: 'btn pink' %>
  <hr/>
  <%= link_to 'Back', url_for(controller: 'dashboard/property/clients', action: :index), class: 'btn pink' %>
  <br/>
</div>
