<h1>Editing Dashboard Collection</h1>

<%= render 'form', dashboard_collection: @dashboard_collection %>

<%= link_to 'Show', @dashboard_collection %> |
<%= link_to 'Back', dashboard_collections_path %>
