<h1>Update Property Payment Collection</h1>

<%= render 'form', property_collection: @property_collection %>

<%= link_to 'Show', [:dashboard, @property_collection] %> |
<%= link_to 'Back', [:dashboard, property_collections_path] %>
