<h1>Editing Dashboard Sms Account</h1>

<%= render 'form', dashboard_sms_account: @dashboard_sms_account %>

<%= link_to 'Show', @dashboard_sms_account %> |
<%= link_to 'Back', dashboard_sms_accounts_path %>
