<br />

<footer class="page-footer pink darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Pro Renter</h5>
        <p class="grey-text text-lighten-4">Manage your property, automate your rent collection, send invoices, save historical data</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Menu</h5>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Manage your property, automate your rent collection! Brought to you by Pro Renters &copy; <%= Time.zone.now.year %>
    </div>
  </div>
</footer>
