<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Sign Up', url_for(controller: 'devise/registrations', action: 'new') %></li>
<li><%= link_to 'Sign In', url_for(controller: 'devise/sessions', action: 'new') %></li>
