<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Dashboard', url_for(controller: '/dashboard/welcome', action: 'dashboard') %></li>
<li><%= link_to 'Sign Out', url_for(controller: '/devise/sessions', action: :destroy), method: :delete %></li>
<li><%= link_to current_user.full_name, url_for(controller: '/dashboard/users', action: 'show', id: current_user) %></li>